<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<appSettings>
		<add key="BaseDirectory" value="C:\Workspace\MobileUpdater\MAUFiles"></add>
		<add key="SquareAPIBaseUrl" value="https://connect.squareup.com" />
		<!--exception message for store 10430-->
		<add key="Exception_msg" value="10430" />
		<!--prod name for store 11361-->
		<add key="Prod_name" value="11361" />
		<!--prod desc for store 11361-->
		<add key="Prod_desc" value="11361" />
		<!--mapping for store 10488-->
		<add key="different_map" value="10488" />
		<!--mapping for store 11361-->
		<add key="different_mapping" value="11361" />
		<!--mapping for store 11348-->
		<add key="diff_map" value="11348;11879,10388"/>
		<!--Full name mapping for store 12034-->
		<add key="CategoriesEnabled" value="12034;12664"/>
		<!--Get all upc for store 11019-->
		<add key="AllUpcs" value="11019;12379"/>
		<add key="StaticQTY" value="12613;12926"/>
    
	    <add key="DeveloperId" value="abhishekm@techmaticsys.com" />

		
		
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
